.header-content{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    min-height:75vh;
    background:linear-gradient(#a95bc34d,rgba(141,39,173,0.5)),url("../../assests/hero5.jpg") center/cover no-repeat ;
    flex-direction:column;
}
.header-title{
    font-size: 4.0rem;
    text-transform: capitalize;
}
.header-text{
    margin-top:1.8rem;
    margin-bottom:2.8rem;
    padding-left: 50px;
    padding-right: 50px;
    opacity:0.8;
  font-size:1.5rem;
  font-weight:300;
}
